<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bf088dd3-22aa-45be-8360-264fdd39d40f/resourceGroups/HandyOPTService_group/providers/Microsoft.Web/sites/HandyOPTService</ResourceId>
    <ResourceGroup>HandyOPTService_group</ResourceGroup>
    <ApiResourceId>/subscriptions/bf088dd3-22aa-45be-8360-264fdd39d40f/resourceGroups/HandyOPTService_group/providers/Microsoft.ApiManagement/service/OtpAuthServicesapi/apis/OtpAuthServices</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://handyoptservice-dkbpcgf9fuhjetb0.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>8c91a351-4fb5-438c-8270-63a7b1c3864b</ProjectGuid>
    <PublishUrl>https://handyoptservice-dkbpcgf9fuhjetb0.scm.centralindia-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>