<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/666b1f19-0227-44aa-b0f3-c1faae6f3e82/resourceGroups/HandyMan/providers/Microsoft.Web/sites/OtpAuthServices20240928024709</ResourceId>
    <ResourceGroup>HandyMan</ResourceGroup>
    <ApiResourceId>/subscriptions/666b1f19-0227-44aa-b0f3-c1faae6f3e82/resourceGroups/HandyMan/providers/Microsoft.ApiManagement/service/Handymnapiservice/apis/OtpAuthServices</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://otpauthservices20240928024709.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8c91a351-4fb5-438c-8270-63a7b1c3864b</ProjectGuid>
    <MSDeployServiceURL>otpauthservices20240928024709.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OtpAuthServices20240928024709</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$OtpAuthServices20240928024709</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>